.Movement {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;

  &__container {
    display: flex;
    justify-content: center;

    &--1 {
      margin-top: 8px;
    }
  }

  &__wrapper {
    width: 100px;

    &--1,
    &--3 {
      @include flexRowCenter();
    }
  }

  &__box {
    height: 100px;

    &--1,
    &--3 {
      @include flexRowCenter();
    }

    &--2 {
      @include flexRowCenter();
      background-color: antiquewhite;
      border-radius: 50%;
    }
  }

  &__arrow {
    cursor: pointer;
    padding: 12px;
    border-radius: 12px;

    &:hover {
      background-color: bisque;
    }
  }
}
