.Script {
  height: 300px;
  box-sizing: border-box;

  border-bottom: 1px solid black;

  &__title {
    font-size: 40px;
    font-weight: 700;
  }

  &__desc {
    margin-top: 16px;
  }

  &__map {
  }

  &__text {
    margin-top: 8px;
  }

  &__btnContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 16px;
    background-color: bisque;
    border-radius: 12px;

    + .Script__btn {
      margin-left: 8px;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
