.Inventory {
  height: 300px;
  padding-top: 24px;
  box-sizing: border-box;
  overflow: auto;

  &__title {
    font-size: 40px;
    font-weight: 700;
  }

  &__container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin-top: 24px;

    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      display: none; /* Chrome, Safari, Opera*/
    }
  }

  &__box {
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 8px 12px;

    + .Inventory__box {
    }
  }

  &__item {
    width: 60%;
  }

  &__value {
    width: 40%;
  }
}
